<div class="battery-wrapper">
  <div class="image-wrapper">
    <img
      class="outline"
      src="../../../assets/images/battery-outline (2).svg"
      alt=""
    />

    <img
      class="filling"
      src="../../../assets/images/battery-filling (1).svg"
      alt=""
    />
  </div>

  <div class="information-wrapper">
    <h1 class="title">BATTERY Nº X</h1>

    <div class="table-wrapper">
      <table>
        <tr>
          <td class="property-title">VOLTAGE</td>
          <td class="property-value">y</td>
          <td class="property-units">V</td>
        </tr>

        <tr>
          <td class="property-title">TEMP1</td>
          <td class="property-value">y</td>
          <td class="property-units">DEG</td>
        </tr>

        <tr>
          <td class="property-title">TEMP2</td>
          <td class="property-value">y</td>
          <td class="property-units">DEG</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!--Así son los comentarios en html, habrá que aplicarse el cuento-->
